// Colors

$dark-black: #121212;

$dark-blue: #1D2025;
$light-blue: #1F2F53;

$light-white: #F2F2F2;

$light-pink: #EF487D;
$dark-pink: #A51542;

// Breakpoints

$bp-largest: 75em;     // 1200px
$bp-large: 68.75em;    // 1100px
$bp-medium: 56.25em;   // 900px
$bp-small: 37.5em;     // 600px
$bp-smallest: 31.25em; // 500px